@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

body {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "montaserrat";
}

.footer {
  position: fixed;
  left: 0;
  padding: 10px;
  bottom: 0;
  width: 100%;
  background-color: rgb(87, 87, 87);
  color: white;
  text-align: center;
}
