* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #161513;
  --primary-color: #222222;
  --text-color-primary: #f1f5f9;
  --text-color-blue: #1373d1;
  --font-family: "Poppins", "sans-serif";
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color-primary);
  transition: 0.5s;
}

.footer {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  text-align: center;
}
