* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #16181d;
  --background-card: #292c34;
  --font-family: "Asap", sans-serif;
  --font-subtitle: "Inconsolata", sans-serif;
  --font-sm: "Maven Pro", sans-serif;

  --text-primary: #c0c4ce;
  --text-secondary: #e2e4e9;
  --text-tertiary: #e3646e;
  --text-gray: #878ea1;
  --text-purple: #bb72e9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.5rem;
}

#btnTopo {
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
  border: 2px solid var(--text-tertiary);
}

#btnTopo:hover {
  background-color: var(--background-card);
  transform: translateY(-4px);
}

#btnTopo.show {
  opacity: 1;
  visibility: visible;
}
