:root {
  --background-color: #161513;
  --font-color: #ffffff;
  --primary-color: #222222;
  --font-blue: #1373d1;
}

body {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: var(--background-color);
  color: var(--font-color);
  transition: 0.5s;
}

.avatar {
  display: flex;
  height: 12.5rem;
  width: 12.5rem;
  background: linear-gradient(to bottom, #ff8660, #8000ff);
  border-radius: 50%;
  margin: auto;
  margin-block: 10rem 3rem;
}

.title {
  display: flex;
  height: 9.38rem;
  width: 40.5rem;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(to right, #00c6ff, #9a33ff, #001aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: auto;
}

.subtitle {
  height: 7.5rem;
  width: 40.6rem;
  margin: 0.625rem auto;
  text-align: center;
  color: var(--font-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 10px;
}

.footer {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  text-align: center;
}
