main {
  width: 100%;
  flex: 1;
  height: 54rem;
  background-color: var(--background-color);

  .work {
    display: flex;
    font-size: 1.25rem;
    font-family: var(--font-subtitle);
    line-height: 120%;
    color: var(--text-tertiary);
    justify-content: center;
    padding-top: 4.5rem;
  }

  & a {
    display: flex;
    font-family: var(--font-family);
    color: var(--text-secondary);
    justify-content: center;
    padding-block: 1rem 72px;
  }
}

.card-container {
  max-width: 65rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 20.625rem;
  height: 17.5rem;
  background-color: var(--background-card);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
}

.card:hover {
  outline: 2px solid #878ea1;
  transition: 1s ease-in-out;
}

.card-img {
  width: auto;
  height: 9.75rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 120%;
  color: var(--text-secondary);
  padding-block: 1rem 0.5rem;
}

.card-subtitle {
  font-size: 0.875rem;
  font-family: var(--font-sm);
  line-height: 140%;
  color: var(text-primary);
  text-align: justify;
}

.card a {
  display: flex;
  align-self: flex-end;
  margin-right: 1rem;
  margin-top: -1rem;
}

.ancor {
  width: 1.1rem;
  height: 1.1rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in.visivel {
  opacity: 1;
  transform: translateY(0);
}
