* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (max-width: 393px) {
  .avatar {
    height: 8rem;
    width: 8rem;
    margin-block: 5rem 2rem;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    margin-block: 3rem;
  }

  .subtitle {
    width: 100%;
    height: auto;
    text-align: center;
    padding: auto;
  }

  .tutorial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-size: 10px;
  }

  .tutorial-block {
    width: 100%;
    height: auto;
  }

  .projects {
    font-size: 30px;
  }
  .tutorial-block img {
    height: 100px;
  }

  .tecnologias {
    padding-block: 4rem;

    img {
      width: 35px;
      height: 35px;
    }
  }

  .site-header {
    max-width: 100%;
    max-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    position: relative;
  }

  .site-header img {
    width: 30px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    text-align: center;
  }

  .nav-menu ul li:nth-child(1),
  .nav-menu ul li:nth-child(2) {
    grid-column: span 1;
  }

  .nav-menu ul li:nth-child(3),
  .nav-menu ul li:nth-child(4) {
    grid-column: span 1;
  }

  #themeSwitcher {
    width: 2rem;
    height: 2rem;
    right: 50px;
    top: 40%;
  }
}
