.site-header {
  display: flex;
  max-width: 100%;
  max-height: 60px;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: var(--primary-color);
  transition: 0.8s;
}

.logo-a {
  width: 50px;
  height: 50px;
  padding: auto;
}

.nav-menu {
  ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    gap: 5rem;
  }

  a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1rem;
    transition: 1s ease-out;
  }
}

.nav-menu a:hover {
  background: linear-gradient(to right, #00c6ff, #0077ff, #001aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#themeSwitcher {
  margin-top: -2px;
  position: absolute;
  right: 21rem;
  background-color: var(--background-color);
  color: var(--font-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

#themeSwitcher:hover {
  background-color: var(--font-color);
  color: var(--primary-color);
}
